/* Solid border */
hr.solid {
  border-top: 3px solid  #242424;
}

/* App.css */

.gradient-container {
  position: relative;
  padding: 20px;
  background: linear-gradient(to top, rgba(36, 36, 36, 1), rgba(36, 36, 36, 0)); /* Flipped gradient */
}

.titleContainer, .visionAndDownloadContainer {
  color: white;
}

.titleContainer {
  background: rgba(36, 36, 36, 0.5); /* Semi-transparent background */
  position: relative;
  z-index: 0; /* Ensure div1 content is below the gradient */
}

.visionAndDownloadContainer {
  background: rgba(36, 36, 36, 1); /* Fully opaque background */
  position: relative;
  z-index: 2; /* Ensure div2 content is above the gradient */
}

.gradient-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%; /* Adjust this to control how much of div1 is covered */
  background: linear-gradient(to top, rgba(36, 36, 36, 1), rgba(36, 36, 36, 0)); /* Flipped gradient */
  z-index: 1; /* Place the gradient below the content */
}

.homepage {
  width: 100%;
  background-color:  var(--page-accent-gray);
  overflow: hidden;
  text-align: center;
  font-size: var(--body-overpass-base-size);
  color: var(--white);
  font-family: var(--body-overpass-base);
}

.headerBackgroundImg {
  width: 100%;
  height: 20rem;
  position: relative;
  top: 0;
  left: 0;
  /* z-index: 0; */
}


.virtuososTitle {
  position: absolute;
  width: 100%;
  height: 8rem;
  top: 8rem;
  bottom: 0;
  /* z-index: 1; */
  display: flex;
  justify-content: center;
}


.visionAndDownloadContainer_DELETE {
  color: var(--white);
  display: block;
  overflow: visible;
  z-index: 1;
}

.visionSection {
  color: var(--white);
  display: block;
  overflow: auto;
}

.visionSectionTitle {
  font-size: var(--title-lexend-large-size);
  line-height: 2rem;
  font-family: var(--title-lexend-large);
  text-align: left;
  display: inline-block;
  margin:auto;
  padding: 1rem;
  padding-bottom: 0.25rem;
}

.visionSectionBody {
  line-height: 1.5rem;
  font-weight: 500;
  display: inline-block;
  padding: 2rem;
  padding-top: 0.5rem;
}
.demoVideoContainer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.demoVideo {
  width: 90%;
  height: auto;
  padding: 5vw 0;
}

.downloadSection {
  background-color: var(--page-accent-gray);
  /* background: linear-gradient(180deg, #232323 50.59%, rgba(35, 35, 35, 0.00) 98.03%); */
  color: var(--white);
  padding-top: 2rem;
  height: 6rem;
}

.downloadText {
  line-height: 1.5rem;
  font-weight: 500;
  padding-bottom: 0.5rem;
}

.downloadLinks {
  display: flex;
  justify-content: space-evenly
}

.downloadIcon {
  border-radius: var(--br-8xs);
  overflow: hidden;
  object-fit: contain;
  mix-blend-mode: normal;
}

.featuredArtistsSection {
  background: linear-gradient(0deg, #2D2C5F 83.72%, rgba(45, 44, 95, 0.40) 91.07%, rgba(45, 44, 95, 0.00) 99.68%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: var(--page-accent-gray);
  color: var(--white);
  padding-top: 1.25rem;
  padding-bottom: 0.75rem;
  /* box-shadow: 0px 10px; */
}

.featuredArtistsSectionTitle {
  font-size: var(--title-lexend-medium-size);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  font-family: var(--title-lexend-large);
  text-align: center;
  display: inline-block;
  margin:auto;
  padding: 1rem;
  padding-bottom: 0rem;
  padding-top: 0;

}

.featuredArtistDetails {
  /* background-color: aqua; */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.5rem;
  /* padding-bottom: 1rem; */
}

.artistImgAndLinks {
  /* flex-basis: 15%; */
  flex: 0.25;
  /* background-color: black; */
  display: flex;
  justify-content:space-around;
  padding: 0.5rem;
  flex-direction: column;
}
.artistImage {
  width: 85%;
  flex-shrink: 0;
  justify-content:center;
  border-radius: 52px;
  background: lightgray 0px 0px / 100% 100% no-repeat;
}

.artistLinks {
  display: flex;
  /* background-color: aqua; */
  flex-direction: row;
  justify-content: space-between;
  padding-top: 0.2rem;
}

.artistLinkIcons{
  width: 40%;
  flex-shrink: 0;
  border-radius: 52px;
  background: lightgray 0px 0px / 100% 100% no-repeat;
}

.artistRelatedInfo {
  /* flex-basis: 85%; */
  display: flex;
  justify-content: space-around;
  padding-left: 0.3rem;
  /* background-color: red; */
  flex: 1;
  flex-direction: column;
}

.artistTitleContainer {
  display: flex;
  flex-direction:  row;
  padding-top: 1.25rem;
  /* background-color: antiquewhite; */
  /* align-self: center; */
  justify-content:flex-start;
}

.artistName {
  color: var(--icon-color, #FFF);
  font-family: "Overpass Mono";
  font-size: var(--body-overpass-base);
  font-style: normal;
  font-weight: 700;
  line-height: 1rem; /* 150% */
  padding-top: 0.25rem;
  text-align: left;
  padding-right: 0.5rem;
}

.verifiedIcon{
  display: flex;
  width: 1rem;
  height: 1rem;
  padding: 0.25rem;
}

.artistStatistics {
  display: flex;
  /* background-color: aqua; */
  flex-direction: column;
  justify-content: space-between;
}

.artistStatTexts {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.songcountText {
  text-align: right;
  padding-right: 2rem;
  color: var(--white);
}

.artistSongcount {
  display: flex;
  flex-direction: row;
  justify-content: right;
  font-family: "Overpass Mono";
}

.songcountValue {
  color: var(--lilac);
}

.playcountText {
  text-align: right;
  padding-right: 2rem;
  color: var(--white);
}

.artistPlaycount {
  display: flex;
  flex-direction: row;
  justify-content: right;
  font-family: "Overpass Mono";
}

.playcountValue {
  color: var(--lilac);
}

.aboutUsSection {
  background-color: var(--page-accent-gray);
  color: var(--white);
  padding-top: 2rem;
  box-shadow: 0px 8px 5px #1c1c21 inset;
}

.aboutUsTitle {
  font-size: var(--title-lexend-medium-size);
  line-height: 1rem;
  font-family: var(--title-lexend-large);
  text-align: left;
  display: inline-block;
  margin:auto;
  padding: 1rem;
  padding-bottom: 0.25rem;
}

.aboutUsDescription {
  line-height: 1.5rem;
  font-weight: 500;
  display: inline-block;
  padding: 2rem;
  padding-top: 0.5rem;
}

.SignUpbutton{
  background-color: #2d2c5f;
  color: var(--white);
  border-radius: var(--br-8xs);
  padding: 0.5rem 1rem;
  font-size: var(--body-overpass-base-size);
  font-family: var(--body-overpass-base);
  border: none;
  cursor: pointer;
  margin: 0.5rem;
  margin-top: .5rem;
}
.SignUpbutton:hover {
  background-color:#002ead;
  transition: 0.7s;
}