.background {
    position: absolute;
    top: 42.875rem;
    left: -0.937rem;
    background-color: var(--color-gray);
    width: 27.5rem;
    height: 138.625rem;
  }
  .headerIcon {
    position: absolute;
    top: 0;
    left: calc(50% - 196px);
    width: 24.563rem;
    height: auto; /* 77.75rem; */
  }
  .background1 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--blue);
  }
  .logoicon {
    width: 1.713rem;
    position: relative;
    height: 1.719rem;
    cursor: pointer;
  }
  .igicon {
    width: 1.25rem;
    position: relative;
    height: 1.25rem;
    overflow: hidden;
    flex-shrink: 0;
  }
  .homeandsocials {
    position: absolute;
    top: 12.75rem;
    left: calc(50% - 97.5px);
    width: 12.188rem;
    height: 1.938rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .beatmaps,
  .contactHellogmailcomFor {
    line-height: 1.5rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  .contactHellogmailcomFor {
    position: absolute;
    top: 16.063rem;
    left: calc(50% - 174.5px);
    font-weight: 500;
    width: 21.875rem;
  }
  .beatmaps {
    align-self: stretch;
    position: relative;
    height: 1.5rem;
    flex-shrink: 0;
    cursor: pointer;
  }
  .sections {
    position: absolute;
    top: 1.75rem;
    left: calc(50% - 116.5px);
    width: 14.563rem;
    height: 9.438rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    font-size: var(--body-overpass-base-size);
    font-family: var(--title-lexend-large);
  }
  .footer {
    position: absolute;
    bottom: 0;
    left: calc(50% - 196px);
    width: 24.563rem;
    height: 18.25rem;
    font-size: var(--font-size-xs);
  }
  .bg,
  .imageIcon {
    position: absolute;
    top: 0;
    left: 0;
    width: 21.938rem;
  }
  .imageIcon {
    border-radius: var(--br-8xs);
    height: 9.75rem;
    object-fit: cover;
  }
  .bg {
    border-radius: 0 0 var(--br-8xs) var(--br-8xs);
    background: linear-gradient(0deg);
    height: 4.625rem;
  }
  .excitingUpdateNew {
    position: absolute;
    top: 2.813rem;
    left: calc(50% - 137.5px);
    line-height: 1.5rem;
  }
  .title {
    top: 5.125rem;
    left: 0;
    width: 21.938rem;
    height: 4.625rem;
  }
  .div,
  .forumlink,
  .title {
    position: absolute;
  }
  .div {
    top: 0.276rem;
    left: 16.625rem;
    line-height: 1.5rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.938rem;
    height: 2.206rem;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  .forumlink {
    top: 0;
    left: 0;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 21.938rem;
    height: 9.75rem;
    cursor: pointer;
  }
  .div1,
  .unravelingTheSonic {
    position: absolute;
    line-height: 1.5rem;
  }
  .unravelingTheSonic {
    top: 2.813rem;
    left: calc(50% - 147.5px);
  }
  .div1 {
    top: 0.589rem;
    left: 16rem;
    font-weight: 500;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  .forumlink1 {
    position: absolute;
    top: 11.875rem;
    left: 0;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 21.938rem;
    height: 9.75rem;
    cursor: pointer;
  }
  .craftingAMusical,
  .div2 {
    position: absolute;
    line-height: 1.5rem;
  }
  .craftingAMusical {
    top: 2.813rem;
    left: calc(50% - 128.5px);
  }
  .div2 {
    top: 0.563rem;
    left: 16rem;
    font-weight: 500;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  .forumlink2,
  .posts {
    position: absolute;
    left: 0;
    width: 21.938rem;
  }
  .forumlink2 {
    top: 23.75rem;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    height: 9.75rem;
    cursor: pointer;
  }
  .posts {
    top: 4.188rem;
    height: 33.5rem;
  }
  .checkOutPopular {
    position: absolute;
    top: 0;
    left: calc(50% - 114.5px);
    font-size: var(--title-lexend-medium-size);
    line-height: 1.5rem;
    display: flex;
    font-family: var(--title-lexend-large);
    align-items: center;
    justify-content: center;
    width: 14.313rem;
  }
  .communitysection {
    position: absolute;
    top: 114.438rem;
    left: 1.25rem;
    width: 21.938rem;
    height: 37.688rem;
  }
  .virtuososIsA {
    margin: 0;
  }
  .aboutUs,
  .virtuososIsAContainer {
    position: absolute;
    line-height: 1.5rem;
  }
  .virtuososIsAContainer {
    top: 2.438rem;
    left: calc(50% - 175px);
    font-weight: 500;
    display: inline-block;
    width: 21.875rem;
  }
  .aboutUs {
    top: 0;
    left: calc(50% - 51px);
    font-size: var(--title-lexend-medium-size);
    font-family: var(--title-lexend-large);
  }
  .aboutussectionChild {
    position: absolute;
    top: 33.969rem;
    left: -0.031rem;
    border-top: 1px solid var(--white);
    box-sizing: border-box;
    width: 21.938rem;
    height: 0.063rem;
  }
  .aboutussection {
    position: absolute;
    top: 77.625rem;
    left: calc(50% - 175px);
    width: 21.875rem;
    height: 34rem;
  }
  .bg3 {
    position: absolute;
    top: 0;
    left: calc(50% - 196.5px);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    background: linear-gradient(0deg);
    width: 24.563rem;
    height: 26.688rem;
    mix-blend-mode: normal;
  }
  .meetOurFeatured {
    position: absolute;
    top: 3.125rem;
    left: calc(50% - 150.5px);
    font-size: var(--title-lexend-medium-size);
    line-height: 1.5rem;
    font-family: var(--title-lexend-large);
  }
  .featartistssectionChild,
  .featartistssectionItem {
    position: absolute;
    top: 12.156rem;
    left: calc(50% - 176px);
    border-top: 1px solid var(--color-gray);
    box-sizing: border-box;
    width: 21.938rem;
    height: 0.063rem;
  }
  .featartistssectionItem {
    top: 19.219rem;
  }
  .shadowWeaver {
    position: absolute;
    top: 0.875rem;
    left: 4.125rem;
    line-height: 1.5rem;
    text-align: left;
  }
  .artist3Child {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    width: 3.25rem;
    height: 3.25rem;
    object-fit: cover;
  }
  .div3,
  .totalPlaycount {
    position: absolute;
    top: 0;
    line-height: 1.5rem;
    font-weight: 500;
  }
  .totalPlaycount {
    left: 0;
  }
  .div3 {
    left: 11.125rem;
    color: var(--lilac);
  }
  .playcount {
    position: absolute;
    top: 3.813rem;
    left: 7.438rem;
    width: 13rem;
    height: 1.5rem;
  }
  .div4 {
    position: absolute;
    top: 0;
    left: 5.625rem;
    line-height: 1.5rem;
    font-weight: 500;
    color: var(--lilac);
  }
  .soungcount {
    position: absolute;
    top: 2.438rem;
    left: 13.563rem;
    width: 6.875rem;
    height: 1.5rem;
  }
  .soundcloudIcon,
  .spotifyIcon {
    position: absolute;
    height: 23.53%;
    width: 6.24%;
    top: 67.06%;
    right: 93.76%;
    bottom: 9.41%;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .soundcloudIcon {
    width: 9.02%;
    right: 79.82%;
    left: 11.16%;
  }
  .artist3,
  .vectorIcon {
    position: absolute;
    top: 20.188rem;
    left: 2.063rem;
    width: 20.438rem;
    height: 5.313rem;
  }
  .vectorIcon {
    top: 1.125rem;
    left: 15.125rem;
    width: 0.75rem;
    height: 0.75rem;
  }
  .artist1Child,
  .artist2 {
    position: absolute;
    top: 13.188rem;
    left: 2.063rem;
    width: 20.438rem;
    height: 5.313rem;
  }
  .artist1Child {
    top: -0.312rem;
    left: -0.75rem;
    border-radius: var(--br-8xs);
    background-color: var(--blue);
    width: 21.875rem;
    height: 5.938rem;
    display: none;
  }
  .vectorIcon1 {
    position: absolute;
    top: 1.125rem;
    left: 13.375rem;
    width: 0.75rem;
    height: 0.75rem;
  }
  .artist1,
  .info {
    position: absolute;
    width: 20.438rem;
    height: 5.313rem;
  }
  .info {
    top: 0;
    left: 0;
  }
  .artist1 {
    top: 5.813rem;
    left: 2.063rem;
    cursor: pointer;
  }
  .featartistssection {
    position: absolute;
    top: 47.875rem;
    left: calc(50% - 196px);
    width: 24.563rem;
    height: 26.688rem;
  }
  .downloadForFree {
    position: absolute;
    top: 0;
    left: calc(50% - 83.5px);
    line-height: 1.5rem;
    font-weight: 500;
  }
  .appledownloadIcon {
    position: absolute;
    top: 0;
    left: 0;
    width: 7.063rem;
    height: 2.375rem;
    overflow: hidden;
  }
  .googleplaydownloadIcon {
    position: absolute;
    top: 0.063rem;
    left: 7.563rem;
    border-radius: var(--br-8xs);
    width: 7.875rem;
    height: 2.313rem;
    overflow: hidden;
    object-fit: contain;
    mix-blend-mode: normal;
  }
  .downloadlinks {
    position: absolute;
    top: 1.875rem;
    left: 0;
    width: 15.438rem;
    height: 2.375rem;
  }
  .bgimage,
  .downloadsection {
    position: absolute;
    top: 43.563rem;
    left: calc(50% - 123px);
    width: 15.438rem;
    height: 4.25rem;
  }
  .bgimage {
    top: 12.75rem;
    left: calc(50% - 175.5px);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 21.938rem;
    height: 13.375rem;
  }
  .imagineAWorld,
  .ourVision {
    position: absolute;
    cursor: pointer;
  }
  .imagineAWorld {
    top: 3.188rem;
    left: 0.188rem;
    line-height: 1.5rem;
    font-weight: 500;
    display: inline-block;
    width: 21.75rem;
  }
  .ourVision {
    top: 0;
    left: 5.188rem;
    font-size: var(--title-lexend-large-size);
    line-height: 2rem;
    font-family: var(--title-lexend-large);
    text-align: left;
  }
  .visionsection {
    position: absolute;
    top: 15rem;
    left: calc(50% - 176px);
    width: 21.938rem;
    height: 26.125rem;
  }
  .menu1 {
    position: absolute;
    top: 0.188rem;
    left: 0.188rem;
    line-height: 1.5rem;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  .menubuttonIcon {
    position: absolute;
    height: 18.39%;
    width: 9.68%;
    top: 38.71%;
    right: 10.04%;
    bottom: 42.9%;
    left: 80.28%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    mix-blend-mode: normal;
  }
  .menu,
  .menubtn {
    position: absolute;
    top: -0.625rem;
    left: 17.188rem;
    width: 5.875rem;
    height: 1.938rem;
  }
  .menu {
    top: 1.563rem;
    left: -0.062rem;
    width: 24.563rem;
    height: 11.95rem;
    font-size: var(--title-lexend-medium-size);
    font-family: var(--title-lexend-large);
  }
  .homepage {
    width: 100%;
    position: relative;
    background-color: var(--blue);
    height: 173rem;
    overflow: hidden;
    text-align: center;
    font-size: var(--body-overpass-base-size);
    color: var(--white);
    font-family: var(--body-overpass-base);
  }
  