.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color:  var(--page-background);
  background: linear-gradient(180deg, #2D2C5F 70.9%, rgba(45, 44, 95, 0.00) 100%);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 4rem;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.headerLogo {
  width: 200%;
  height: auto;
  margin: 0;
  padding: 0.25rem;
}

.headerLogoIcon {
  width: 200%;
  height: 1rem;
}

.headerMenu {
  font-size: var(--title-lexend-large-size);
  color: var(--white);
  font-family: var(--title-lexend-large);
  margin: 0;
  padding: 0.5rem;
}

.headerMenuButton {
  font-size: 1rem;
  color: var(--white);
  display: flex;
  padding: 3px 9.418px 4px 3px;
  align-items: center;
  gap: 7.462px;
}

.headerMenuButtonText {
  font-family: "Lexend Exa";
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1rem; /* 133.333% */
}

.menubuttonIcon {
  display: flex;
  /* padding: 3px 9.418px 4px 3px; */
  padding-top: 0.75rem;
  align-items: center;
  gap: 7.462px;
}